In [1]:
import pandas as pd

In [2]:
data = pd.read_csv("Tianchi_power.csv")

# Auguest power

In [21]:
outliers = []
for user_id in range(1, 1455):
    tmp = data.loc[(data.user_id == user_id), :]
    last_month = tmp[-30:]
    power = last_month["power_consumption"].values
    if power.sum() >= 60 and power.sum() < 70:
        outliers.append(user_id)

In [22]:
outliers

[636, 818]

In [11]:
answer = pd.read_csv("prediction/answer.csv")
answer.head()

,Unnamed: 0,id1,id2,id3,id4,id5,id6,id7,id8,id9,...,id1445,id1446,id1447,id1448,id1449,id1450,id1451,id1452,id1453,id1454
0,day1,370.244781,223.639694,630.863525,1202.997925,2107.442383,500.204681,88.024612,904.917053,410.286438,...,409.665924,270.474884,2753.618652,401.738953,294.992828,717.559753,1704.250488,12876.291020,1273.809448,2281.341064
1,day2,339.197022,246.344879,631.625427,1003.280273,1993.239990,504.255859,79.455925,1007.308350,501.656433,...,399.355255,18.649708,2625.228760,447.872955,324.253082,846.719238,1829.720581,9577.127930,1415.474976,1262.933105
2,day3,359.029877,206.655823,483.302643,1308.955811,1737.426025,427.398712,77.551773,454.596893,247.411072,...,239.135879,272.291656,2271.086182,359.651764,586.204834,262.325989,500.965118,5923.500488,673.549133,725.433716
3,day4,226.779343,235.520630,509.126801,1064.489990,1299.185913,296.339874,85.495285,371.685394,398.969605,...,344.984680,269.051453,2576.914063,100.867523,151.502518,617.897705,2265.023926,7019.572266,1126.154175,1542.002563
4,day5,373.365631,214.649216,585.092346,1093.711914,1750.740845,458.873962,82.894707,876.027771,483.586639,...,371.985870,108.883263,2707.012939,139.564453,320.540131,596.984985,2165.654297,6315.646973,1127.687256,1841.020996

In [14]:
consumption = [1 for i in range(30)]
len(consumption)

30

In [15]:
for user_id in outliers:
    user = "id"+str(user_id)
    answer[user] = consumption

In [16]:
answer.to_csv("prediction/en_answer.csv", index = None)

# Check Point

In [73]:
answer = pd.read_csv("prediction/en_answer.csv")
answer.head()

,Unnamed: 0,id1,id2,id3,id4,id5,id6,id7,id8,id9,...,id1445,id1446,id1447,id1448,id1449,id1450,id1451,id1452,id1453,id1454
0,day1,370.244781,223.639694,630.863525,1202.997925,2107.442383,500.204681,88.024612,904.917053,410.286438,...,409.665924,270.474884,2753.618652,401.738953,294.992828,717.559753,1704.250488,12876.291020,1273.809448,2281.341064
1,day2,339.197022,246.344879,631.625427,1003.280273,1993.239990,504.255859,79.455925,1007.308350,501.656433,...,399.355255,18.649708,2625.228760,447.872955,324.253082,846.719238,1829.720581,9577.127930,1415.474976,1262.933105
2,day3,359.029877,206.655823,483.302643,1308.955811,1737.426025,427.398712,77.551773,454.596893,247.411072,...,239.135879,272.291656,2271.086182,359.651764,586.204834,262.325989,500.965118,5923.500488,673.549133,725.433716
3,day4,226.779343,235.520630,509.126801,1064.489990,1299.185913,296.339874,85.495285,371.685394,398.969605,...,344.984680,269.051453,2576.914063,100.867523,151.502518,617.897705,2265.023926,7019.572266,1126.154175,1542.002563
4,day5,373.365631,214.649216,585.092346,1093.711914,1750.740845,458.873962,82.894707,876.027771,483.586639,...,371.985870,108.883263,2707.012939,139.564453,320.540131,596.984985,2165.654297,6315.646973,1127.687256,1841.020996

In [74]:
import numpy as np

In [75]:
feature = []
sum_ = 0
for i in range(1, 1455):
    feature.append("id"+str(i))

In [76]:
data = answer[feature].values

In [77]:
power = data.sum(axis = 1)

In [80]:
power

array([ 4245906.92860145,  4236352.58053886,  3858086.71746979,
        3960857.47780888,  4149739.92370728,  4151515.66749555,
        4338611.84236458,  4289112.41198829,  4339902.54971392,
        4314352.04818713,  4135419.72087493,  4282694.98181315,
        4337837.59170865,  4257932.4728106 ,  4094422.25929147,
        3658660.56709491,  3932210.71410155,  4039120.30695492,
        4412951.1457058 ,  4363053.53615906,  4445752.69311649,
        4480421.13818889,  4424840.18980755,  4444359.19564723,
        4209359.36148967,  4371796.30884839,  4245904.87372043,
        4138369.70982992,  4270419.22540479,  4328745.92687562])

In [97]:
power = np.round(power).tolist()
final_power = []
for i in range(30):
    final_power.append(int(power[i]))

In [107]:
# read final
final = pd.read_csv("prediction/Tianchi_power_predict_table.csv")
final.head()

  predict_date  predict_power_consumption
0     2016/9/1                    4245907
1     2016/9/2                    4236353
2     2016/9/3                    3858087
3     2016/9/4                    3960857
4     2016/9/5                    4149740

In [101]:
final["predict_power_consumption"] = final_power

In [102]:
final.head()

  record_date  power_consumption
0    2016/9/1            4245907
1    2016/9/2            4236353
2    2016/9/3            3858087
3    2016/9/4            3960857
4    2016/9/5            4149740

In [104]:
final.to_csv("prediction/Tianchi_power_predict_table", index = None)